<div class="container my-4">

  <!-- Encabezado -->
  <h2 class="text-center bg-primary text-white py-2 rounded shadow-sm">
    Nueva Orden de Trabajo
  </h2>

  <!-- Formulario -->
  <div class="card shadow mt-4">
    <div class="card-body">
      <%= render 'form', orden_trabajo: @orden_trabajo %>
    </div>
  </div>

  <!-- Botón de regreso -->
  <div class="text-center my-4">
    <%= link_to 'Atrás', orden_trabajos_path,
          class: "btn btn-dark btn-lg px-5 shadow-sm" %>
  </div>
</div>
